includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: max

    paths:
        - app
        - config
        - bootstrap
        - database/factories
        - routes

    ignoreErrors:
        -
            identifier: 'classConstant.internalClass'
            paths:
                - config/pulse.php
        -
            identifier: 'staticMethod.internalClass'
            paths:
                - config/pulse.php

