includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    checkMissingIterableValueType: true

    level: max

    paths:
        - app
        - config
        - bootstrap
        - database/factories
        - routes
