@import 'highlight.js/styles/tomorrow-night-blue.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    [x-cloak] {
        display: none;
    }

    .question > p,
    .answer > p {
        margin-top: 1.25em;
        margin-bottom: 1.25em;
    }

    .hover\:darken-gradient:hover {
        filter: saturate(2.5);
    }
}





