@import "highlight.js/styles/tomorrow-night-blue.css";

[x-cloak] {
    display: none;
}

.question > p,
.answer > p {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
}

.question > pre,
.answer > pre {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
}

.hover\:darken-gradient:hover {
    filter: saturate(2.5);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
